<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
<app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="encerramento === 'derrota'; else fimDeJogoVitoria" class="container">
        <div class="jumbotron">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <h3> Fim de Jogo. Você Perdeu! </h3>
                    <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
    <div class="container">
        <div class="jumbotron">
            <div class="row d-flex justify-content -center">
                <div class="col">
                    <h3>Você ganhou! </h3>
                    <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


