<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
<app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="encerramento === 'derrota'; else fimDeJogoVitoria" class="container">
        <div class="jumbotron">
            <div class="row d-flex justify-content-center">
                    Fim de Jogo. Você Perdeu!
            </div>
        </div>
    </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
    <div class="container">
        <div class="jumbotron">
            <div class="row d-flex justify-content-center">
                    Você ganhou!
            </div>
        </div>
    </div>
</ng-template>


